.main {
    margin-left: 240px; /* Ajuster la marge pour correspondre à la nouvelle largeur du sidenav */
    font-size: 18px;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
    transition: margin-left 0.3s; /* Transition pour l'effet de survol du sidenav */
}

.custom-gradient {
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    color: white; /* Assurez-vous que la couleur du texte est lisible */
    /* Ajoutez d'autres styles CSS au besoin */
}